@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display:flex;
  justify-content: space-between;
  padding:12px 12px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 6px;
  font-size: 14px;
}

a {
  color: darkgray;
  text-decoration: none;
}


img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:4px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.footer {
  display: flex;
  justify-content:space-between;
  padding: 12px 0;
  background-color: lightgrey;
  padding: 12px 12px;
}