body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 38px;
  background: darkmagenta;
  color: white;
  padding:12px;
  font-weight: bold;
  font-size: 24px;
  align-content: center;
}

.middle {
  display:flex;
  justify-content: space-between;
  flex: 1;
}


.footer {
  height: 64px;
  background: #eee;
  color: darkmagenta;
  align-content: center;
  text-align: center;
}

.sidebar {
  display:flex;
  flex-direction: column;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  padding: 12px;
  margin: 0;
  width:250px;
}
.sidebar li {
  margin: 8px 0;
}

a {
  margin: 8px 0;
  text-decoration: none;
  color: white;
}

.cardArray {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16 px;
  padding: 16px;
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width:300px;
  padding:12px;
  flex: 1 1 auto;
}